@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 1em;
    background-color: black;
}

body::-webkit-scrollbar {
    width: 0.4em;
    background-color: black;
}

body::-webkit-scrollbar-thumb {
    border-radius: 1em;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #555;
}

@keyframes detailsFadeIn {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(-100%);
    }
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* @media only screen and (min-width: 320px) {
    @keyframes detailsFadeIn {
        0% {
            transform: translateY(-100%);
        }
        100% {
            transform: translateY(-100%);
        }
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}

@media only screen and (min-width: 480px) {
    @keyframes detailsFadeIn {
        0% {
            transform: translateY(-120%);
        }
        100% {
            transform: translateY(-125%);
        }
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}

@media only screen and (min-width: 768px) {
    @keyframes detailsFadeIn {
        0% {
            transform: translateY(-100%);
        }
        100% {
            transform: translateY(-100%);
        }
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}

@media only screen and (min-width: 1024px) {
    @keyframes detailsFadeIn {
        0% {
            transform: translateY(-100%);
        }
        100% {
            transform: translateY(-100%);
        }
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
} */

@keyframes detailsFadeOut {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(-100%);
    }
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.cont {
    height: 100%;
    width: 100%;
}

.details-block {
    height: 100%;
    background: black;
}

.cont:hover .details-block {
    animation: detailsFadeIn 0.4s;
    animation-fill-mode: forwards;
}

.xxsFontSize {
    font-size: xx-small;
}

.xsFontSize {
    font-size: x-small;
}

.sFontSize {
    font-size: small;
}

.mFontSize {
    font-size: medium;
}

/* .cut-description {
    --max-lines: 4;

    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);
} */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.file-button::file-selector-button {
    background-color: rgb(166, 166, 166);
    color: rgb(0, 0, 0);
}
